#settingsDiv { 
  border-top: 1px solid #eee;
  margin-top: 5px;
  padding-top: 5px;
  font-size: 12px;
}

button { 
    border: 1px solid #999;
}

.textBox:focus { 
    box-shadow: inset 0 1px 3px #eee;
    outline: 0;
} 

.textBox { 
    border: 1px solid #999;
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    width: 200px;
    height:30px;
    padding-right: 5px;
}
