#infoRedirect { 
  font-size: 12px;
  padding-left: 120px;
  padding-right: 120px;
}

#welcome { 
  font-size: 20px;
}

body {   
  text-align: center;
  background-color: #eee;
}
 
h1 { 
    font-size: 26px;
} 

#savedRedirects {
  margin-top: 10px;
}

input { 
  padding-left: 5px;
  margin-bottom: 10px;
}

img { 
  margin-left: 30px;
  margin-right: 30px;
}

#content { 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px 40px 30px;
  margin: 40px auto 0;
  width: 900px;
}

.table>tbody>tr>td { 
  vertical-align: middle; 
}

.table {
  width: 90%;
  table-layout:fixed;
  word-break: break-all;
}
 

.confirmationVal { 
  color: #006400;
  word-wrap: break-word;
}  
