body {   
  text-align: center;
}
   
.heading {
  border-bottom: 1px solid #eee;
  font-weight: bold;
  margin-bottom:10px;
  font-size: 15pt;
}
 
#inputForm {
  margin-bottom: 20px;
}

.confirmationVal { 
  color: #006400;
  word-wrap: break-word;
} 

.header { 
  background: lightgray;
}

td {
  padding-left: 10px;
  padding-right: 10px; 
}
 
table, th, td {
    border: 1px solid black;
     border-collapse: collapse;
}

table {
  margin-bottom: 30px;
}
